[default]

ALVEO_API_URL = https://app.alveo.edu.au/
ALVEO_API_KEY = xxxxxxxxx


# 500 items
#ITEM_LIST_URL = "https://app.alveo.edu.au/item_lists/1324

# 16 items
ITEM_LIST_URL = https://app.alveo.edu.au/item_lists/1325

BASE_DIR = .
DATA_DIR = %(BASE_DIR)s/data/
FEAT_DIR = %(BASE_DIR)s/feat/
MODEL_DIR = %(BASE_DIR)s/models/

FEATURE_SIZE = 39

# number of threads to run parallel processes
THREADS = 1
# number of mixtures in UBM
NUMBER_OF_MIXTURES = 8
